/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.2em;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: rgb(0, 90, 0);
    color: #fff;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* End of CSS Reset */

/* Write code here */

:root {
    --red-suite: rgb(255, 0, 0);
    --black-suite: rgb(0, 0, 0);
}


.game {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: end;
    gap: 20px;
}


.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    padding: 10px;

    .menu-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.statistics {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        margin: 10px;
        background-color: #fff;
        border: 1px solid black;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        color: black;
        padding: 10px;
    }

    dt {
        white-space: nowrap;
    }

    dd {
        padding-left: 10px;
        font-style: italic;
    }
}

.logo {
    display: flex;

    .card-inner {
        top: -100vh;

        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;

        font-size: 40px;

        .color::before {
            top: 0;
        }

        .color::after {
            bottom: 0;
        }
    }

    .character {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    @media (max-width: 500px) {
        .card {
            max-width: 90px;
            min-width: 90px;
        }

        .character {
            left: 5px;
        }
    }

    .card:nth-child(2) .card-inner {
        animation-delay: 100ms;
    }

    .card:nth-child(3) .card-inner {
        animation-delay: 200ms;
    }

    .card:nth-child(4) .card-inner {
        animation-delay: 300ms;
    }

    .card:nth-child(5) .card-inner {
        animation-delay: 400ms;
    }

    .card:nth-child(6) .card-inner {
        animation-delay: 500ms;
    }

    .card:nth-child(7) .card-inner {
        animation-delay: 600ms;
    }

    .card:nth-child(8) .card-inner {
        animation-delay: 700ms;
    }

    .card:nth-child(9) .card-inner {
        animation-delay: 800ms;
    }

    .card:nth-child(10) .card-inner {
        animation-delay: 900ms;
    }
}

button {
    padding: 5px;
    border-radius: 0;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    min-width: 8ch;
    color: #000;
    font-size: 17px;
    white-space: nowrap;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.player-money {
    white-space: nowrap;
}

.dealer-and-players {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    background-color: #083c01;
    padding: 10px;
    justify-content: center;
}

.actions {
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
}

.hit-or-stand {
    background-color: #083c01;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;

    flex-wrap: wrap;
    gap: 5px;

    @media (max-width: 550px) {
        width: 100%;

        button {
            flex-grow: 1;
        }
    }
}

.end-of-round {
    background-color: #083c01;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;

    flex-wrap: wrap;
    gap: 5px;
}

.betting {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    background-color: #083c01;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hands {
    display: flex;
    gap: 20px;
}

.hand {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 1s;

    &.active {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    &.busted {
        opacity: 0.1;
    }

    /* Play splitting animation on the first card of the new hand */
    /* TODO: This doesn't work when splitting the first hand multiple times, the animation plays for the wrong hand */
    &:not(:first-child)>.cards>.card:first-child>.card-inner {
        top: 0;
        animation: split-hand 600ms;
    }

    .stats {
        display: flex;
        justify-content: space-between;
    }
}

@keyframes split-hand {
    from {
        top: 0;
        /* 20px is the gap between hands */
        left: calc(-100% + 20px);
    }

    to {
        left: 0;
    }
}



.button-group {
    display: flex;
    gap: 10px;

    button {
        flex-grow: 1;
    }
}

.result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-in 250ms ease-in-out;
    flex-direction: column;

    pointer-events: none;

    .message {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        min-height: 125px;
        min-width: 200px;
        background-color: #fff;
        gap: 10px;
        color: #000;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        animation: toast 250ms ease-in-out;
        pointer-events: auto;

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 20px;
            max-width: 250px;
        }
    }
}

@keyframes fade-in {
    from {
        filter: opacity(0);
    }

    to {
        filter: opacity(1);
    }
}

@keyframes toast {
    from {
        filter: opacity(0);
        transform: scale(0);
    }

    to {
        filter: opacity(1);
        transform: scale(1);
    }

}

.dealer {
    transition: opacity 500ms;

    &.busted {
        opacity: 0.1;
    }

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Nested div for dealers second hidden card */
.card-flip {
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: transform 500ms;

    &.hidden {
        transform: rotateY(180deg);
    }

    >.card-front,
    >.card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;

    }

    >.card-back {
        transform: rotateY(180deg);

    }
}

/* CARDS */

.cards {
    display: flex;
    justify-content: center;
}

.card:not(:first-child) {
    margin-left: -60px;
}

.card:nth-child(3n) {
    --jitter: 2px;
}

.card:nth-child(3n+2) {
    --jitter: -2px;
}


.card {
    aspect-ratio: 2.25 / 3.5;
    min-width: 100px;
    max-width: 100px;
    max-height: 155px;
    min-height: 155px;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    position: absolute;
    transform: translateY(-400px) rotateZ(-180deg);
    animation: deal-card 600ms ease-out;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;

    line-height: 1;
    color: #000;
    font-variant-numeric: tabular-nums;
    margin-top: var(--jitter, 0);
}

.player .card-inner {
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
}


@keyframes deal-card {
    from {
        transform: translateY(-400px) rotateZ(-180deg);
        filter: opacity(0);
    }

    to {
        transform: translateY(0) rotateZ(0);
        filter: opacity(1);
    }
}


/* SUITES */

.color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.color::before,
.color::after {
    position: absolute;
    font-size: 32px;
    width: 32px;
    text-align: center;
}

.color::before {
    left: 0;
    top: 32px;
}

.color::after {
    right: 0px;
    bottom: 32px;
    transform: scale(1, -1);
}

.spades::before,
.spades::after {
    content: '♠';
    color: var(--black-suite);
}

.clubs::before,
.clubs::after {
    content: '♣';
    color: var(--black-suite);
}

.hearts::before,
.hearts::after {
    content: '♥';
    color: var(--red-suite);
}

.diamonds::before,
.diamonds::after {
    content: '♦';
    color: var(--red-suite);
}



/* VALUES */

.value {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
}

.value::before,
.value::after {
    font-size: 32px;
    position: absolute;
    width: 32px;
    text-align: center;
}

.value::before {
    left: 0px;
    top: 5px;
}

.value::after {
    right: 0px;
    bottom: 5px;
    transform: scale(1, -1);
}

.ace::before,
.ace::after {
    content: 'A';
}

.one::before,
.one::after {
    content: '1';
}

.two::before,
.two::after {
    content: '2';
}

.three::before,
.three::after {
    content: '3';
}

.four::before,
.four::after {
    content: '4';
}

.five::before,
.five::after {
    content: '5';
}

.six::before,
.six::after {
    content: '6';
}

.seven::before,
.seven::after {
    content: '7';
}

.eight::before,
.eight::after {
    content: '8';
}

.nine::before,
.nine::after {
    content: '9';
}

.ten::before,
.ten::after {
    content: '10';
}

.ten::after {
    right: 7px;
}

.jack::before,
.jack::after {
    content: 'J';
}

.queen::before,
.queen::after {
    content: 'Q';
}

.king::before,
.king::after {
    content: 'K';
}

/* CHIP/MARKER */

.marker {
    max-width: 59px;
    min-width: 59px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 4px dashed #000;
    background-color: green;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0.8;
    transition: transform 200ms;
    font-size: 17px;

    &:hover:not(:disabled) {
        opacity: 1;
        transform: translateY(-10px);
    }

    &:disabled {
        filter: opacity(0.2);
        cursor: not-allowed;
    }

    /* Values */
    &._50 {
        background-color: rgb(255, 0, 0);
    }

    &._100 {
        background-color: rgb(0, 255, 255);
    }

    &._500 {
        background-color: #000;
        border-color: #fff;
        color: #fff;
    }

    &._1000 {
        background-color: rgb(255, 123, 0);
    }
}